@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  display: none;
}

.slide{
  opacity:0.5;
  transform: scale(0.7);
}

.slide-active{
  opacity:1;
  transform: scale(1)
}

.slide-btw{
  opacity:0.5;
  transform: scale(0.8);
}