@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~react-toastify/dist/ReactToastify.css';

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  display: none;
}

.slide{
  opacity:0.5;
  transform: scale(0.7);
}

.slide-active{
  opacity:1;
  transform: scale(1)
}

.slide-btw{
  opacity:0.5;
  transform: scale(0.8);
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh; 
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}